[class$='spectrum-Slider--range'] {
  margin-bottom: 32px;
  width: 100% !important;
}

[class*='spectrum-Slider-labelContainer'] {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

[class*='spectrum-Slider-label'] {
  font-size:large;
  font-weight: 600;
  color: #1d4ed8;
}

[class*='spectrum-Slider-value'] {
  width: 100% !important;
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: small;
  font-weight: normal;
  color: #a3a3a3;
}

[class*='spectrum-Slider-track'] {
  background-color: #dfe2ee;
  height: 3px;
  border-radius: 9999px;
}

[class*='spectrum-Slider-track']:last-of-type {
  right: 0;
}

[class*='spectrum-Slider-track']:nth-of-type(3) {
  background-color: #86efac;
}

[class*='spectrum-Slider-handle'] {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #e3e5ec;
  border-radius: 9999px;
  cursor: grab;
}

[class*='is-dragged'] {
  cursor: grabbing;
}